.player-card {
    width: 18rem;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.player-card:hover {
    transform: scale(1.05);
}

.player-image {
    height: 12rem;
    width: 200px;
    object-fit: cover;
}

.player-name {
    font-size: 1.25rem;
    font-weight: bold;
}